table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.action-container {
  display: none;
}
.action {
  opacity: 0;
  position: absolute;
  min-width: 100px;
}
tr:hover {
  .action {
    transition: background-color 0s, margin-left 1s ease;
    background-color: #ffffff00 !important;
    opacity: 1;
    display: block;
    margin-left: -100px;
  }
}
