<div mat-dialog-content>
  <h2>New User</h2>
  <mat-form-field>
    <input matInput [(ngModel)]="newUser.fioData" required placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="newUser.ageData" required placeholder="age">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="newUser.balance" required placeholder="balance">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="newUser.charmData" required placeholder="charm">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="newUser.id" required placeholder="userId">
  </mat-form-field>
  <h2>Адресс регистрации</h2>
  <mat-form-field>
    <input matInput [(ngModel)]="newUser.registrationAddress.street" placeholder="regStreet">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="newUser.registrationAddress.home" placeholder="regHome">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="newUser.registrationAddress.flat" placeholder="regFlat">
  </mat-form-field>
  <h2>Адресс проживания</h2>
  <mat-form-field>
    <input matInput [(ngModel)]="newUser.addressOfResidence.street" placeholder="regStreet">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="newUser.addressOfResidence.home" placeholder="regHome">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="newUser.addressOfResidence.flat" placeholder="regFlat">
  </mat-form-field>
  <h2>Номера</h2>
  <mat-form-field>
    <input matInput [(ngModel)]="newUser.phone.mobile" placeholder="mobile">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="newUser.phone.home" placeholder="home">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="newUser.phone.work" placeholder="work">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="newUser.phone.mobile2" placeholder="mobile2">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <p *ngIf="!validation">заполните все обезательные поля *</p>
  <button mat-button (click)="update()" >Update</button>
  <button mat-button (click)="close()">Close</button>
</div>
