<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="selectedUser.fioData" placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="selectedUser.ageData"  placeholder="age">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="selectedUser.balance"  placeholder="balance">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="selectedUser.charmData"  placeholder="charm">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="selectedUser.id" placeholder="userId">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onUpdate()">Update</button>
</div>
