@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.form-full-width {
  min-width: 150px;
  max-width: 500px;
  width:100%;
}

.input-full-width {
  width:800px;
}

.mat-form-field-infix {
  width: 302px !important;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}
table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
thead th {
  background-color: #55608f !important;
}
.mat-paginator {
  background-color: #55608f !important;
}
tr:hover {
      background: #ffffff50;
}
th, td {
  border-bottom: none !important;
  color: #fff !important;
}
td {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.mat-table {
  background: initial !important;
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
  color: #fff !important
}
.mat-select-value, .mat-select-arrow, .mat-form-field-appearance-legacy .mat-form-field-label,.mat-sort-header-arrow {
  color: rgba(255, 255, 255, 0.87) !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(255, 255, 255, 0.87) !important;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  border-bottom: red !important;
}
body{
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
input {
  color: #fff !important;
}
section {
  margin: 0 auto;
}
.mat-dialog-container {
  background: linear-gradient(45deg, #49a09d, #5f2c82) !important;
}
h2, h3,h4,h1,.mat-button, .mat-icon-button, .mat-stroked-button, p {
  color: #FFF;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F500;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F500;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #1cd4cd5e;;
}

.btn-3 {
  cursor: pointer;
  background-color: #54608f;
}
.btn-3 .round {
  background: linear-gradient(45deg, #27d2d0, #53608f,#27d2d0);
}

a {
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
a span {
  position: relative;
  z-index: 3;
}
a .round {
  display: flex;
  align-items: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 3px;
  top: 3px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}
a .round mat-icon {
  margin: 7px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.txt {
  font-size: 14px;
  line-height: 1.45;
}

.type-1 a:hover {
  padding-left: 48px;
  padding-right: 28px;
}
.type-1 a:hover .round {
  width: calc(100% - 6px);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.type-1 a:hover .round i {
  left: 12%;
}
.buttons-container {
  width: 100%;
}
.save {
  float: left;
}
.close {
  float: right;
}
.table-container {
  height: 296px;
  width: 100%;
  display: block;
  content: "";
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}
